<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sj_query_condition表:用户消息模块 -->
<mapper namespace="com.rongdu.cashloan.manage.mapper.QueryConditionMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.rongdu.cashloan.manage.domain.QueryCondition">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
        <result column="zm_score_min" property="zmScoreMin" jdbcType="INTEGER" />
        <result column="zm_score_max" property="zmScoreMax" jdbcType="INTEGER" />
        <result column="age_min" property="ageMin" jdbcType="INTEGER" />
        <result column="age_max" property="ageMax" jdbcType="INTEGER" />
        <result column="data_amount" property="dataAmount" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,merchant_id,zm_score_min,zm_score_max,age_min,age_max,data_amount,update_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="merchantId != null and merchantId != '' ">
                and merchant_id = #{merchantId,jdbcType=BIGINT}
            </if>
            <if test="zmScoreMin != null and zmScoreMin != '' ">
                and zm_score_min = #{zmScoreMin,jdbcType=INTEGER}
            </if>
            <if test="zmScoreMax != null and zmScoreMax != '' ">
                and zm_score_max = #{zmScoreMax,jdbcType=INTEGER}
            </if>
            <if test="ageMin != null and ageMin != '' ">
                and age_min = #{ageMin,jdbcType=INTEGER}
            </if>
            <if test="ageMax != null and ageMax != '' ">
                and age_max = #{ageMax,jdbcType=INTEGER}
            </if>
            <if test="dataAmount != null and dataAmount != '' ">
                and data_amount = #{dataAmount,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.rongdu.cashloan.manage.domain.QueryCondition">
        insert into sj_query_condition(merchant_id,zm_score_min,zm_score_max,age_min,age_max,data_amount,update_time)values(#{merchantId,jdbcType=BIGINT},#{zmScoreMin,jdbcType=INTEGER},#{zmScoreMax,jdbcType=INTEGER},#{ageMin,jdbcType=INTEGER},#{ageMax,jdbcType=INTEGER},#{dataAmount,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.rongdu.cashloan.manage.domain.QueryCondition">
        update sj_query_condition set 
            merchant_id = #{merchantId,jdbcType=BIGINT},
            zm_score_min = #{zmScoreMin,jdbcType=INTEGER},
            zm_score_max = #{zmScoreMax,jdbcType=INTEGER},
            age_min = #{ageMin,jdbcType=INTEGER},
            age_max = #{ageMax,jdbcType=INTEGER},
            data_amount = #{dataAmount,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update sj_query_condition
          <set>
            <if test="merchantId != null and merchantId != '' ">        
                merchant_id = #{merchantId,jdbcType=BIGINT},                
            </if>
            <if test="zmScoreMin != null and zmScoreMin != '' ">        
                zm_score_min = #{zmScoreMin,jdbcType=INTEGER},                
            </if>
            <if test="zmScoreMax != null and zmScoreMax != '' ">        
                zm_score_max = #{zmScoreMax,jdbcType=INTEGER},                
            </if>
            <if test="ageMin != null and ageMin != '' ">        
                age_min = #{ageMin,jdbcType=INTEGER},                
            </if>
            <if test="ageMax != null and ageMax != '' ">        
                age_max = #{ageMax,jdbcType=INTEGER},                
            </if>
            <if test="dataAmount != null and dataAmount != '' ">        
                data_amount = #{dataAmount,jdbcType=INTEGER},                
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from sj_query_condition
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from sj_query_condition
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from sj_query_condition
        <include refid="searchBy"/>
    </select>
    
</mapper>
