<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.cashloan.cl.mapper.SjAccWithCheckMapper">
  <resultMap id="BaseResultMap" type="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="unit_price" jdbcType="DECIMAL" property="unit_price" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
    <result column="count_borrower" jdbcType="BIGINT" property="count_borrower" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, unit_price, amt,user_id,update_date,count_borrower
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sj_acc_withcheck
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sj_acc_withcheck
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    insert into sj_acc_withcheck (date, unit_price, amt,user_id,update_date,count_borrower)
    values (#{date,jdbcType=DATE}, #{unit_price,jdbcType=DECIMAL},
      #{amt,jdbcType=DECIMAL}, #{user_id,jdbcType=BIGINT},#{update_date,jdbcType=TIMESTAMP},
      #{count_borrower,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    insert into sj_acc_withcheck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="unit_price != null">
        unit_price,
      </if>
      <if test="amt != null">
        amt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="unit_price != null">
        #{unit_price,jdbcType=DECIMAL},
      </if>
      <if test="amt != null">
        #{amt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    update sj_acc_withcheck
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="unit_price != null">
        unit_price = #{unit_price,jdbcType=DECIMAL},
      </if>
      <if test="amt != null">
        amt = #{amt,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="update" parameterType="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    update sj_acc_withcheck
    <set>
      <if test="count_borrower != null">
        count_borrower = count_borrower + #{count_borrower},
      </if>
      <if test="unit_price != null">
        unit_price = #{unit_price,jdbcType=DECIMAL},
      </if>
      <if test="amt != null">
        amt = amt + #{amt,jdbcType=DECIMAL},
      </if>
      <if test="update_date != null">
        update_date = #{update_date},
      </if>
    </set>
    where user_id = #{user_id} AND date = CURRENT_DATE()
  </update>

  <update id="updateByPrimaryKey" parameterType="com.rongdu.cashloan.cl.domain.SjAccWithCheck">
    update sj_acc_withcheck
    set date = #{date,jdbcType=DATE},
      unit_price = #{unit_price,jdbcType=DECIMAL},
      amt = #{amt,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into sj_acc_withcheck (id, date, unit_price, amt,user_id,update_date,count_borrower)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.date,jdbcType=DATE}, #{item.unit_price,jdbcType=DECIMAL},
      #{item.amt,jdbcType=DECIMAL}, #{item.user_id,jdbcType=BIGINT},#{item.update_date,jdbcType=TIMESTAMP},
      #{item.count_borrower,jdbcType=BIGINT})
    </foreach>
  </insert>

  <select id="listSjAccWithCheckInfos" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sj_acc_withcheck
    where user_id = #{userId,jdbcType=BIGINT}
    <if test="sDate != null">
      and date_format(date, '%Y-%m-%d') &gt;= #{sDate}
    </if>
    <if test="eDate != null">
      and date_format(date, '%Y-%m-%d') &lt;= #{eDate}
    </if>
    order by update_date desc
  </select>
  <select id="queryTodayData" parameterType="java.util.Map" resultType="integer">
    select COUNT(id)
    from sj_acc_withcheck
    where user_id = #{userId,jdbcType=BIGINT} AND date = CURRENT_DATE()
  </select>
</mapper>